@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  color: #14213d;
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #fbfbfb;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.08), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav a {
  font-size: 25px;
  text-decoration: none;
  padding: 15px;
}

nav a:hover {
  font-weight: bold;
}

.logo {
  margin-right: auto;
  width: 85px;
  margin-top: 5px;
}

main {
  background-color: #fbfbfb;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.photo {
  border-radius: 50%;
  max-width: 20rem;
}

#intro {
  width: 40vw;
  text-align: left;
  margin-left: 50px;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 20px;
  margin: 20px auto 20px;
}

button {
  background-color: #14213d;
  border: none;
  border-radius: 25px;
  padding: 10px 30px 10px;
}

button a {
  color: #e5e5e5;
  font-size: 18px;
  text-decoration: none;
}

button a:hover {
  color: #fca311;
}

#contacto {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60vw;
}

article {
  background-color: #e5e5e5;
  border-radius: 18px;
  padding: 20px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

#contacto p {
  text-align: center;
  margin: 10px;
}

#enlaces {
  display: flex;
  list-style: none;
}

i {
  color: #14213d;
  font-size: 4rem;
  margin: 25px;
}

i:hover {
  transition: 1s;
  transform: scale(1.2);
  cursor: pointer;
}

footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  background-color: #14213d;
  color: #fbfbfb;
}

h3 {
  font-size: 25px;
  color: #fbfbfb;
  margin: auto;
}

@media screen and (max-width: 478px) {
  header {
    height: 70px;
  }

  nav a {
    font-size: 15px;
    padding: 5px;
  }

  .logo {
    width: 55px;
    margin-top: 5px;
  }

  section {
    height: 80vh;
    width: 60vw;
  }

  #inicio {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: left;
  }

  .photo {
    max-width: 12rem;
    margin: 50px;
  }

  h1 {
    font-size: 18px;
  }

  p {
    font-size: 13px;
    width: 80vw;
  }

  button a {
    font-size: 13px;
    padding: 5px;
    margin: 0;
  }

  article {
    padding: 8px;
  }

  h2 {
    font-size: 18px;
  }

  i {
    font-size: 2rem;
    margin: 15px;
  }

  footer {
    height: 60px;
  }

  h3 {
    font-size: 15px;
  }
}
